<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script-->
    <template is="dom-repeat" items="{{accounts}}">
      <!--h1>Visor Usuario<h1/-->
        <h3> IBAN - {{item.IBAN}}</h3>
        <h3> Saldo - {{item.balance}}</h3>
      </br>
    </template>
      <!--input type="text" value="{{first_name::input}}"/-->
    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          userid: {
            type: Number
          },
          balance:{
            type: Number
          },
          accounts:{
            type: Array
          }
        };
      }

      showData(data){
        console.log("Recibida cuenta de usuario");
        //console.log(data.detail.response[0].userid);
        //console.log(data.detail.response[0].IBAN);
        //console.log(data.detail.response[0].balance);

        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
