<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script-->
    <div class="row">
      <!--h1>Visor Usuario<h1/-->
      <h1 class="col-md-12">Hello [[prop1]]!</h2>
      <h1 class="col-md-5">Soy [[first_name]] {{last_name}}</h2>
      <h1 class="col-md-2">y mi email es  {{email}}</h2>
      <!--input type="text" value="{{first_name::input}}"/-->
    </div>
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          id:{
            type: Number
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        console.log("Recibidos datos del usuario");
        console.log(data.detail.response[0].id);
        console.log(data.detail.response[0].first_name);
        console.log(data.detail.response[0].last_name);
        console.log(data.detail.response[0].email);
        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;
        this.id = data.detail.response[0].id;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
